## Import libraries

In [133]:
import pandas as pd 
import numpy as np
import utils
from importlib import reload
reload(utils)

## Import Data

### Main Dataframe

In [105]:
masterdata = pd.read_csv('./data/masterData.csv', sep=';',decimal='.') #attention to the decimal separator; inferred from the data

C:\Users\User\AppData\Local\Temp\ipykernel_5076\1560812693.py:1: DtypeWarning: Columns (61) have mixed types. Specify dtype option on import or set low_memory=False.
  masterdata = pd.read_csv('./data/masterData.csv', sep=';',decimal=',') #attention to the decimal separator

### Other dataframes

In [131]:

"""
malha400 = pd.read_csv('./data/malha400.csv', sep=';',decimal=',')
malha400completa = pd.read_csv('./data/malha400Completa.csv', sep=';',decimal=',')
malha400completa2 = pd.read_csv('./data/malha400Completa2.csv', sep=';',decimal=',')
masterdata = pd.read_csv('./data/masterData.csv', sep=';',decimal='.') #attention to the decimal separator

cols = ['id_palheta', 'presenca_ovos', 'NUM_OVOS', 'IND_QTE_OVOS_DESIDRATADOS', 'IND_QTE_OVOS_ECLODIDOS', 'DT_INSTALACAO', 
        'DT_COLETA', 'NUM_SEMANA', 'ANO_REFERENCIA', 'NUM_ARMADILHA', 'ID_ARMADILHA', 'ID_ENDERECO_ARMADILHA',
        'NUM_LOGRADOURO', 'NUM_SEQU_LOGRADOURO','NOM_LOGRADOURO', 'CEP', 'NUM_IMOVEL', 'COMPLEMENTO', 'IND_OFICIAL',
        'QUADRA', 'VALOR_COORDENADA_X', 'VALOR_COORDENADA_Y','UF', 'COD_AREA_ABRANGENCIA', 'DES_MUNICIPIO', 'NUM_BAIRRO',
        'NOM_BAIRRO', 'COD_DISTRITO_SANITARIO', 'TP_LOGRADOURO', 'DT_DESATIVACAO_ARMADILHA_ENDERECO', 'DT_CADASTRO_ARMADILHA_ENDERECO','Unknown']

banco_160724 = pd.read_csv('./data/banco_160724.csv', sep=';',decimal='.',header=None) #Decimal is '.' which only affects the columns of coordenates.
banco_160724.columns = cols


IdQdnte = pd.read_excel('./data/IdQdnte400.xls')
active_traps = pd.read_excel('./data/OVITRAMPAS_ATIVAS.xlsx')
"""

"\nmalha400 = pd.read_csv('./data/malha400.csv', sep=';',decimal=',')\nmalha400completa = pd.read_csv('./data/malha400Completa.csv', sep=';',decimal=',')\nmalha400completa2 = pd.read_csv('./data/malha400Completa2.csv', sep=';',decimal=',')\nmasterdata = pd.read_csv('./data/masterData.csv', sep=';',decimal='.') #attention to the decimal separator\n\ncols = ['id_palheta', 'presenca_ovos', 'NUM_OVOS', 'IND_QTE_OVOS_DESIDRATADOS', 'IND_QTE_OVOS_ECLODIDOS', 'DT_INSTALACAO', \n        'DT_COLETA', 'NUM_SEMANA', 'ANO_REFERENCIA', 'NUM_ARMADILHA', 'ID_ARMADILHA', 'ID_ENDERECO_ARMADILHA',\n        'NUM_LOGRADOURO', 'NUM_SEQU_LOGRADOURO','NOM_LOGRADOURO', 'CEP', 'NUM_IMOVEL', 'COMPLEMENTO', 'IND_OFICIAL',\n        'QUADRA', 'VALOR_COORDENADA_X', 'VALOR_COORDENADA_Y','UF', 'COD_AREA_ABRANGENCIA', 'DES_MUNICIPIO', 'NUM_BAIRRO',\n        'NOM_BAIRRO', 'COD_DISTRITO_SANITARIO', 'TP_LOGRADOURO', 'DT_DESATIVACAO_ARMADILHA_ENDERECO', 'DT_CADASTRO_ARMADILHA_ENDERECO','Unknown']\n\nbanco_160724 = pd.read_csv('./data/banco_160724.csv', sep=';',decimal='.',header=None) #Decimal is '.' which only affects the columns of coordenates.\nbanco_160724.columns = cols\n\n\nIdQdnte = pd.read_excel('./data/IdQdnte400.xls')\nactive_traps = pd.read_excel('./data/OVITRAMPAS_ATIVAS.xlsx')\n"

## Exploration

### Number of unique values in each column

In [137]:
for col in masterdata.columns:
    unique_values = utils.get_col_unique_values(masterdata,col)
    print(f'{col} [{unique_values.shape[0]}]: {unique_values[:20]}')

exercicio [13]: [2020 2017 2022 2019 2018 2016 2021 2015 2014 2012 2023 2013 2011]
nplaca [464739]: [90000213 90000162 90000215 90000214 90000185 90000254 90000160 90000242
 90000026 90000202 90000021 90000068 90000092 90000237 90000118 90000060
 90000101 90000047 90000247 90000195]
narmad [1885]: [901001 901002 901003 901004 901005 901006 901007 901008 901009 901010
 901011 901012 901013 901014 901015 901016 901017 901018 901019 901020]
idarmad [1885]: [901374 901375 901376 901377 901378 901379 901380 901381 901382 901383
 901384 901385 901386 901387 901388 901389 901390 901391 901392 901393]
endarmad [1885]: [97222 97559 97541 97149 96964 96965 96966 97636 96968 97620 96970 96971
 96972 96973 96974 97479 96977 96978 97480 97481]
cep [1609]: [9030690765 9030692240 9030690080 9030690750 9030690720 9030690800
 9030692190 9030662516 9030690605 9030690220 9030690380 9030690250
 9030690240 9030690510 9030692508 9030692645 9030692450 9030662090
 9030692455 9030692050]
dtinstal [2529]: ['03nov2020' '13mar2017' '11jul2022' '14jan2019' '02jul2018' '07nov2016'
 '21jun2021' '24may2021' '16may2022' '23apr2018' '05jul2021' '07dec2015'
 '15jan2018' '13apr2015' '30aug2021' '05may2014' '05jan2015' '13jan2020'
 '07may2012' '30may2022']
dtcol [2595]: ['10nov2020' '20mar2017' '18jul2022' '21jan2019' '09jul2018' '14nov2016'
 '28jun2021' '31may2021' '23may2022' '30apr2018' '12jul2021' '14dec2015'
 '22jan2018' '20apr2015' '08sep2021' '12may2014' '12jan2015' '20jan2020'
 '14may2012' '06jun2022']
semepi [50]: [145 111 128 103 127 125 121 120 117 149 115 135 119 101 122 139 105 131
 106 129]
cdabrange [154]: [901460 901400 901300 901260 901250 901290 901450 901230 901340 901240
 901200 901310 901210 901280 901320 901270 901220 901360 901330 901390]
abrange [153]: ['C.S.REGINA' 'C.S.LINDEIA' 'C.S.ITAIPU' 'C.S.TUNEL DE IBIRITE'
 'C.S.TIROL' 'C.S.BARREIRO' 'C.S.BAIRRO DAS INDUSTRIAS' 'C.S.BONSUCESSO'
 'C.S.VILA CEMIG' 'C.S.MILIONARIOS' 'C.S.BARREIRO DE CIMA' 'C.S.MIRAMAR'
 'C.S.DIAMANTE / TEIXEIRA DIAS' 'C.S.VILA PINHO' 'C.S.SANTA CECILIA'
 'C.S.VALE DO JATOBA' 'C.S.INDEPENDENCIA' 'C.S.MANGUEIRAS' 'C.S.URUCUIA'
 'C.S.PILAR/OLHOS D AGUA']
quadra [1617]: [9002489. 9005607. 9002173. 9002551. 9005938. 9008200. 9008356. 9002388.
 9002098. 9001690. 9001940. 9005216. 9001776. 9000921. 9001574. 9008908.
 9005953. 9002841. 9003223. 9003050.]
cdbairro [496]: [900714. 900706. 901052. 901157. 901158. 901155. 900805. 901689. 901485.
 900833. 901148. 901144. 901491. 900513. 901146. 900766. 900722. 901490.
 901138. 901140.]
nombairro [356]: ['LINDEIA' 'JATOBA' 'REGINA' 'ITAIPU' 'MARILANDIA' 'TUNEL DE IBIRITE'
 'TIROL' 'CDI JATOBA' 'OLARIA' 'DIAMANTE' 'SANTA MARGARIDA' 'BARREIRO'
 'JOAO PAULO II' 'SANTA HELENA' 'MILIONARIOS' 'BAIRRO DAS INDUSTRIAS I'
 'BAIRRO NOVO DAS INDUSTRIAS' 'BONSUCESSO' 'ARAGUAIA'
 'FLAVIO MARQUES LISBOA']
cddist [9]: [1 2 3 4 5 6 7 8 9]
novos [966]: [  0.  28.  70. 195.  61. 262.  19.  21.  36.  55. 150.  39. 106.  78.
  69.  42. 125.  33.  34.  57.]
eclod [6]: [nan  2.  1.  4.  3.  5.]
desid [6]: [nan  3.  2.  1.  4.  5.]
CatRC [5]: [ 2.  3.  1. nan  0.]
qarmadila [30]: [ 7 11 13 12 22 17  5 14  8  9 10 16 19 38 18 27  6 33  4 26]
qarmadild [9]: [245 212 187 206 275 141 178 257 184]
qarmadilrc [5]: [953 139 708  23  64]
qarmadilbh [1]: [1886]
dia [31]: [ 3 13 11 14  2  7 21 24 16 23  5 15 30 28  4 19 29  6 27 25]
mes [12]: [11  3  7  1  6  5  4 12  8  9  2 10]
ano [13]: [2020 2017 2022 2019 2018 2016 2021 2015 2014 2012 2023 2013 2011]
intvinstcol [62]: [  7   9   8   6   5  28  10  14  21  17  11   4  22  20  13  37  50 415
  15  51]
agintincol [4]: ['06 - 08' '09 - 99' '01 - 05' nan]
ovos [3]: ['Neg' 'Pos' nan]
bovos [3]: [ 0.  1. nan]
agnovos [6]: ['0000 - 0000' '0016 - 0050' '0051 - 0100' '0101 - 9999' '0001 - 0015' nan]
nagnovos [6]: [ 0.  2.  3.  4.  1. nan]
ovosdiacol [2222]: ['0' '4' '10' '27.85714' '8.714286' '37.42857' '2.111111' '3' '5.142857'
 '7.857143' '21.42857' '5.571429' '15.14286' '11.14286' '9.857142' '6'
 '17.85714' '4.714286' '4.857143' '8.142858']
catovos [3]: [ 0.  1. nan]
agovosdiacol [6]: ['000.00 - 000.00' '002.00 - 006.99' '007.00 - 017.99' '018.00 - 999.99'
 nan '000.01 - 001.99']
nagovosdiacol [6]: [ 0.  2.  3.  4. nan  1.]
anoepid [12]: ['2020_21' '2016_17' '2022_23' '2018_19' '2021_22' '2017_18' '2015_16'
 '2014_15' '2013_14' '2019_20' '2011_12' '2012_13']
nanoepid [12]: [22021 21617 22223 21819 22122 21718 21516 21415 21314 21920 21112 21213]
mesepid [12]: [ 6 10  2  8  1 12 11  7  3  4  9  5]
season [2]: [2 1]
lustro [72]: [132 158 109 146 107 105 172 170 166 138 164 119 168 144 169 173 124 149
 150 104]
quinzena [24]: [121 105 113 101 112 110 108 123 107 116 109 118 102 103 114 122 120 111
 106 119]
quinzepid [24]: [111 119 103 115 102 124 122 113 121 106 123 108 116 117 104 112 110 101
 120 109]
Calustro [71]: [162 115 139 103 137 163 135 129 128 123 138 169 121 149 125 101 126 130
 155 106]
distrito [9]: ['BARREIRO' 'CENTRO-SUL' 'LESTE' 'NORDESTE' 'NOROESTE' 'NORTE' 'OESTE'
 'PAMPULHA' 'VENDA NOVA']
npesmes [3]: [3 2 1]
npesano [25]: [22 24 23  9  7  8  6 21 20  5 18 15 14 17 16 13  4 19  1 10]
npesanoepi [24]: [24 21 23 22  1 17 20 19 16 18 10  8  5  3  2 14 13  9  4  7]
quadaa [34]: ['9.015e+12' '9.014e+12' '9.013e+12' '9.012e+12' '901340' '9.022e+12'
 '9.023e+12' '9.032e+12' '9.033e+12' '9.034e+12' '9.042e+12' '9.043e+12'
 '9.044e+12' '9.052e+12' '9.053e+12' '9.056e+12' '9.054e+12' '1.000e+13'
 '9.062e+12' '9.063e+12']
quadist [1760]: [19002489 19005607 19002173 19002551 19005938 19008200 19008356 19002388
 19002098 19001690 19001940 19005216 19001776 19000921 19001574 19008908
 19005953 19002841 19003223 19003050]
quadaadist [15]: ['1.901e+13' '1901340' '2.902e+13' '3.903e+13' '4.904e+13' '5.905e+13'
 '5.906e+13' '6.000e+13' '6.906e+13' '6.907e+13' '7.907e+13' '7.908e+13'
 '8.908e+13' '9.909e+13' '9.910e+13']
aadist [154]: [1901460 1901400 1901300 1901260 1901250 1901290 1901450 1901230 1901340
 1901240 1901200 1901310 1901210 1901280 1901320 1901270 1901220 1901360
 1901330 1901390]
qaabh [1]: [153]
qaadist [8]: [20 12 14 21 16 18 15 17]
qaaCatRC [5]: [84 19 47  3  2]
qquadbh [2]: [1616.   nan]
qquadist [9]: [224 201 171 191 265 139 168 221 179]
qquadaa [28]: [ 7 11 12 22 19 15  3 10 13  8  9 14 34 18 16 17 27  6  4  5]
qquaCatRC [5]: [871 127 647  23  60]
peso1 [698]: [1176 1029 1127 1512 1078   49  966  833 1344 1232  840 1288  952 1008
 4508  980 1120 1680  700 2352]
peso2 [222]: [168 147 161 154   7 119 140 253 264 231 242 187 220 209 312 299 273 286
 221 208]
coordx [1856]: ['598985.1' '598808' '598881.8' '598157' '598520' '599020' '598813'
 '599189' '599588' '599325' '599744' '600045' '599639' '600261.9' '600006'
 '599617' '599646' '599257' '599651.4' '599382.7']
coordy [1771]: [7789798. 7790153. 7790765. 7791000. 7790795. 7790677. 7790411. 7790935.
 7790991. 7791005. 7790561. 7790672. 7790573. 7790199. 7790461. 7790196.
 7788277. 7788588. 7788633. 7788993.]
qdnte [1402]: [303. 333. 365. 395. 364. 397. 398. 366. 367. 368. 335. 336. 194. 220.
 219. 247. 245. 274. 248. 275.]
ninsp [1]: [1]
scoreG [1546]: ['301.2' '97' '173.9' '101.8' '126.3' '32.8' '182' '418.4' '480.2' '443.4'
 '103.7' '185.4' '418.6' '109.3' '124.8' '323.2' '230.4' '238.4' '410.1'
 '55.3']
GerCat [5]: ['A2' 'M ' 'B ' 'A1' 'ND']

### Sorting data columns

In [126]:
masterdata['dtinstal'].sort_values()

326815    01apr2013
90520     01apr2013
325985    01apr2013
57186     01apr2013
56921     01apr2013
            ...
133760    31oct2022
86983     31oct2022
133696    31oct2022
278152    31oct2022
142535    31oct2022
Name: dtinstal, Length: 464739, dtype: object

### Checking types

In [127]:
for col in masterdata.columns:
    print(f'{col}[{utils.get_col_types(masterdata, col).shape[0]}]: {utils.get_col_types(masterdata, col)}')

exercicio[1]: [<class 'int'>]
nplaca[1]: [<class 'int'>]
narmad[1]: [<class 'int'>]
idarmad[1]: [<class 'int'>]
endarmad[1]: [<class 'int'>]
cep[1]: [<class 'int'>]
dtinstal[1]: [<class 'str'>]
dtcol[1]: [<class 'str'>]
semepi[1]: [<class 'int'>]
cdabrange[1]: [<class 'int'>]
abrange[2]: [<class 'str'> <class 'float'>]
quadra[1]: [<class 'float'>]
cdbairro[1]: [<class 'float'>]
nombairro[1]: [<class 'str'>]
cddist[1]: [<class 'int'>]
novos[1]: [<class 'float'>]
eclod[1]: [<class 'float'>]
desid[1]: [<class 'float'>]
CatRC[1]: [<class 'float'>]
qarmadila[1]: [<class 'int'>]
qarmadild[1]: [<class 'int'>]
qarmadilrc[1]: [<class 'int'>]
qarmadilbh[1]: [<class 'int'>]
dia[1]: [<class 'int'>]
mes[1]: [<class 'int'>]
ano[1]: [<class 'int'>]
intvinstcol[1]: [<class 'int'>]
agintincol[2]: [<class 'str'> <class 'float'>]
ovos[2]: [<class 'str'> <class 'float'>]
bovos[1]: [<class 'float'>]
agnovos[2]: [<class 'str'> <class 'float'>]
nagnovos[1]: [<class 'float'>]
ovosdiacol[2]: [<class 'str'> <class 'float'>]
catovos[1]: [<class 'float'>]
agovosdiacol[2]: [<class 'str'> <class 'float'>]
nagovosdiacol[1]: [<class 'float'>]
anoepid[1]: [<class 'str'>]
nanoepid[1]: [<class 'int'>]
mesepid[1]: [<class 'int'>]
season[1]: [<class 'int'>]
lustro[1]: [<class 'int'>]
quinzena[1]: [<class 'int'>]
quinzepid[1]: [<class 'int'>]
Calustro[1]: [<class 'int'>]
distrito[1]: [<class 'str'>]
npesmes[1]: [<class 'int'>]
npesano[1]: [<class 'int'>]
npesanoepi[1]: [<class 'int'>]
quadaa[1]: [<class 'str'>]
quadist[1]: [<class 'int'>]
quadaadist[1]: [<class 'str'>]
aadist[1]: [<class 'int'>]
qaabh[1]: [<class 'int'>]
qaadist[1]: [<class 'int'>]
qaaCatRC[1]: [<class 'int'>]
qquadbh[1]: [<class 'float'>]
qquadist[1]: [<class 'int'>]
qquadaa[1]: [<class 'int'>]
qquaCatRC[1]: [<class 'int'>]
peso1[1]: [<class 'int'>]
peso2[1]: [<class 'int'>]
coordx[3]: [<class 'str'> <class 'int'> <class 'float'>]
coordy[1]: [<class 'float'>]
qdnte[1]: [<class 'float'>]
ninsp[1]: [<class 'int'>]
scoreG[2]: [<class 'str'> <class 'float'>]
GerCat[1]: [<class 'str'>]

In [130]:
type_cols = list()
print('Columns with more than one type:')
for col in masterdata.columns:
    n_types = utils.get_col_types(masterdata, col).shape[0]
    if n_types > 1:
        type_cols.append(col)
        print(f'{col}[{n_types}]: {utils.get_col_types(masterdata, col)}')

print('\n Values of columns with more than one type:')
for col in type_cols:
    print(f'{col} [{masterdata[col].unique().shape[0]}]: {masterdata[col].unique()[:20]}')

Columns with more than one type:
abrange[2]: [<class 'str'> <class 'float'>]
agintincol[2]: [<class 'str'> <class 'float'>]
ovos[2]: [<class 'str'> <class 'float'>]
agnovos[2]: [<class 'str'> <class 'float'>]
ovosdiacol[2]: [<class 'str'> <class 'float'>]
agovosdiacol[2]: [<class 'str'> <class 'float'>]
coordx[3]: [<class 'str'> <class 'int'> <class 'float'>]
scoreG[2]: [<class 'str'> <class 'float'>]

 Values of columns with more than one type:
abrange [153]: ['C.S.REGINA' 'C.S.LINDEIA' 'C.S.ITAIPU' 'C.S.TUNEL DE IBIRITE'
 'C.S.TIROL' 'C.S.BARREIRO' 'C.S.BAIRRO DAS INDUSTRIAS' 'C.S.BONSUCESSO'
 'C.S.VILA CEMIG' 'C.S.MILIONARIOS' 'C.S.BARREIRO DE CIMA' 'C.S.MIRAMAR'
 'C.S.DIAMANTE / TEIXEIRA DIAS' 'C.S.VILA PINHO' 'C.S.SANTA CECILIA'
 'C.S.VALE DO JATOBA' 'C.S.INDEPENDENCIA' 'C.S.MANGUEIRAS' 'C.S.URUCUIA'
 'C.S.PILAR/OLHOS D AGUA']
agintincol [4]: ['06 - 08' '09 - 99' '01 - 05' nan]
ovos [3]: ['Neg' 'Pos' nan]
agnovos [6]: ['0000 - 0000' '0016 - 0050' '0051 - 0100' '0101 - 9999' '0001 - 0015' nan]
ovosdiacol [2222]: ['0' '4' '10' '27.85714' '8.714286' '37.42857' '2.111111' '3' '5.142857'
 '7.857143' '21.42857' '5.571429' '15.14286' '11.14286' '9.857142' '6'
 '17.85714' '4.714286' '4.857143' '8.142858']
agovosdiacol [6]: ['000.00 - 000.00' '002.00 - 006.99' '007.00 - 017.99' '018.00 - 999.99'
 nan '000.01 - 001.99']
coordx [1856]: ['598985.1' '598808' '598881.8' '598157' '598520' '599020' '598813'
 '599189' '599588' '599325' '599744' '600045' '599639' '600261.9' '600006'
 '599617' '599646' '599257' '599651.4' '599382.7']
scoreG [1546]: ['301.2' '97' '173.9' '101.8' '126.3' '32.8' '182' '418.4' '480.2' '443.4'
 '103.7' '185.4' '418.6' '109.3' '124.8' '323.2' '230.4' '238.4' '410.1'
 '55.3']

## Processing

### Convert type of columns to be unique

In [84]:
#TODO: move this after NANs treatment
"""
banco_160724['VALOR_COORDENADA_X'] = banco_160724['VALOR_COORDENADA_X'].apply(str)
banco_160724['VALOR_COORDENADA_Y'] = banco_160724['VALOR_COORDENADA_Y'].apply(str)
"""

"\nbanco_160724['VALOR_COORDENADA_X'] = banco_160724['VALOR_COORDENADA_X'].apply(str)\nbanco_160724['VALOR_COORDENADA_Y'] = banco_160724['VALOR_COORDENADA_Y'].apply(str)\n"

### Remove useless columns

In [85]:

masterdata.drop(['Unknown','DT_DESATIVACAO_ARMADILHA_ENDERECO','DES_MUNICIPIO','UF','NUM_SEQU_LOGRADOURO'], axis=1, inplace=True)
# IND_OFICIAL char(1),[Indicativo se o endereço é oficial ou informado.]

### NaN Treatment

In [86]:
banco_160724.isna().sum().sort_values(ascending=False)

IND_QTE_OVOS_ECLODIDOS            475281
IND_QTE_OVOS_DESIDRATADOS         450459
COMPLEMENTO                       445032
NUM_LOGRADOURO                     56580
VALOR_COORDENADA_Y                 31302
VALOR_COORDENADA_X                 30698
NUM_OVOS                            6559
DT_COLETA                           1319
presenca_ovos                       1241
NUM_BAIRRO                           807
id_palheta                             0
ID_ARMADILHA                           0
NUM_ARMADILHA                          0
ANO_REFERENCIA                         0
NUM_SEMANA                             0
DT_INSTALACAO                          0
CEP                                    0
NOM_LOGRADOURO                         0
ID_ENDERECO_ARMADILHA                  0
QUADRA                                 0
IND_OFICIAL                            0
NUM_IMOVEL                             0
COD_AREA_ABRANGENCIA                   0
NOM_BAIRRO                             0
COD_DISTRITO_SANITARIO                 0
TP_LOGRADOURO                          0
DT_CADASTRO_ARMADILHA_ENDERECO         0
dtype: int64

NaN means value 0

In [87]:
# IND_QTE_OVOS_ECLODIDOS, IND_QTE_OVOS_DESIDRATADOS
print('Possible values of eclod and desid:\n',
      'IND_QTE_OVOS_ECLODIDOS', banco_160724['IND_QTE_OVOS_ECLODIDOS'].unique(),'\n',
      'IND_QTE_OVOS_DESIDRATADOS:', banco_160724['IND_QTE_OVOS_DESIDRATADOS'].unique())

#Substituting NaN values with 0
banco_160724[['IND_QTE_OVOS_ECLODIDOS','IND_QTE_OVOS_DESIDRATADOS']] = banco_160724[['IND_QTE_OVOS_ECLODIDOS','IND_QTE_OVOS_DESIDRATADOS']].fillna(0)

Possible values of eclod and desid:
 IND_QTE_OVOS_ECLODIDOS [nan  1.  2.  5.  4.  3.]
 IND_QTE_OVOS_DESIDRATADOS: [nan  5.  1.  2.  4.  3.]

### NaN means lack of crutial information

In [88]:
# DT_COLETA
utils.print_rows_with_nan(banco_160724, 'DT_COLETA')

,id_palheta,presenca_ovos,NUM_OVOS,IND_QTE_OVOS_DESIDRATADOS,IND_QTE_OVOS_ECLODIDOS,DT_INSTALACAO,DT_COLETA,NUM_SEMANA,ANO_REFERENCIA,NUM_ARMADILHA,...,IND_OFICIAL,QUADRA,VALOR_COORDENADA_X,VALOR_COORDENADA_Y,COD_AREA_ABRANGENCIA,NUM_BAIRRO,NOM_BAIRRO,COD_DISTRITO_SANITARIO,TP_LOGRADOURO,DT_CADASTRO_ARMADILHA_ENDERECO
15,3011,NaN,NaN,0.0,0.0,06/01/2012 17:16:41,NaN,51,2011,5203,...,N,00024,609767.29,7797482.03,5410,636.0,CARLOS PRATES,5,RUA,26/06/2024 15:07:07
80,2996,NaN,NaN,0.0,0.0,02/01/2012 13:55:44,NaN,51,2011,5145,...,N,07869,607393.69,7796749.47,5410,739.0,PADRE EUSTAQUIO,5,AVE,25/06/2024 10:18:34
81,2997,NaN,NaN,0.0,0.0,02/01/2012 13:56:04,NaN,51,2011,5146,...,N,03915,606983.32,7796747.5,5410,739.0,PADRE EUSTAQUIO,5,RUA,25/06/2024 10:22:40
121,2978,NaN,NaN,0.0,0.0,05/01/2012 17:15:19,NaN,51,2011,5127,...,S,05330,605266.0,7795915.0,5290,707.0,JOAO PINHEIRO,5,RUA,13/07/2023 15:12:48
175,2994,NaN,NaN,0.0,0.0,02/01/2012 13:54:43,NaN,51,2011,5143,...,N,03997,607050.37,7797388.48,5410,739.0,PADRE EUSTAQUIO,5,RUA,25/06/2024 10:10:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512045,499746,NaN,NaN,0.0,0.0,23/01/2024,NaN,4,2024,1102,...,N,06026A,605410.8,7788380.0,1340,1666.0,ALTO DAS ANTENAS,1,RUA,30/08/2021 14:13:47
512179,513007,NaN,NaN,0.0,0.0,28/05/2024,NaN,22,2024,4202,...,N,10158,6176.81,78066.95,4350,473.0,TIRADENTES,4,RUA,18/03/2024 14:05:06
515706,512254,NaN,NaN,0.0,0.0,13/05/2024,NaN,20,2024,1074,...,S,03419,604250,7792760.0,1450,1490.0,BAIRRO DAS INDUSTRIAS I,1,AVE,16/08/2021 15:02:22
516223,311358,NaN,NaN,0.0,0.0,14/08/2019,NaN,33,2019,1164,...,N,03323,603415.02,7790336.28,1270,1159.0,SANTA CECILIA,1,RUA,17/06/2022 16:02:34
516294,507003,NaN,NaN,0.0,0.0,03/04/2024,NaN,14,2024,1166,...,S,04604,600596,7787107.0,1270,832.0,VALE DO JATOBA,1,RUA,08/09/2021 14:39:25

In [89]:
# Remove columns with NaN values
banco_160724.dropna(subset=['DT_COLETA'], inplace=True)
print('Number of samples after removing NaN values: ', original_shape[0] - banco_160724.shape[0])

Number of samples after removing NaN values:  1319

### NaNs mean lack of irrelevant data

List of variables

['COMPLEMENTO', 'NUM_BAIRRO']

Inference

In [90]:
# 'presenca_ovos' == 'NÃO CONSEGUI IDENTIFICAR' or 'NÃO SEI IDENTIFICAR' and  NUM_OVOS is nan
#  Substituting NaN values in NUM_OVOS with 0
n_num_ovos_fake = (banco_160724.loc[((banco_160724['presenca_ovos'] == 'NÃO SEI IDENTIFICAR') | (banco_160724['presenca_ovos'] == 'NÃO SEI IDENTIFICAR')) & (banco_160724['NUM_OVOS'].isna()), 'NUM_OVOS']).shape[0]
print('Number of samples with presenca_ovos == NÃO CONSEGUI IDENTIFICAR and NUM_OVOS is nan: ', n_num_ovos_fake)
banco_160724.loc[((banco_160724['presenca_ovos'] == 'NÃO SEI IDENTIFICAR') | (banco_160724['presenca_ovos'] == 'NÃO SEI IDENTIFICAR')) & (banco_160724['NUM_OVOS'].isna()), 'NUM_OVOS'] = 0

Number of samples with presenca_ovos == NÃO CONSEGUI IDENTIFICAR and NUM_OVOS is nan:  33

In [91]:
# Coordinates X and Y can be infered from the NUM_ARMADILHA
# 1. Check if there are more than 2 unique values for each NUM_ARMADILHA
for num in banco_160724['NUM_ARMADILHA'].unique():
    if banco_160724[banco_160724['NUM_ARMADILHA']==num]['VALOR_COORDENADA_Y'].unique().shape[0] > 2:
        print(num, banco_160724[banco_160724['NUM_ARMADILHA']==num]['VALOR_COORDENADA_Y'].unique())

In [92]:
# 2. Check if there are more than 1 unique values for each NUM_ARMADILHA
for num in banco_160724['NUM_ARMADILHA'].unique()[:20]:
    if banco_160724[banco_160724['NUM_ARMADILHA']==num]['VALOR_COORDENADA_Y'].unique().shape[0] > 1:
        print(num, banco_160724[banco_160724['NUM_ARMADILHA']==num]['VALOR_COORDENADA_Y'].unique())

2030 [7792658.0 '7792658']
2094 [7794249.0 '7794249']
2096 [7794542.0 '7794542']
4075 [7800753.0 '7800753']
4145 [7806636.0 '7806636']
4162 [78067.15 '78067.15']
8138 [7803495.0 '7803495']
8001 [7802327.55 '7802327.55']
5133 [7796078.0 '7796078']
5135 [7795757.0 '7795757']
4103 [7803465.0 '7803465']
3036 [77995177049.47 '7.799517704947E10']
8158 [7804667.0 '7804667']
8174 [7802639.0 '7802639']
6081 [7805288.0 '7805288']
5085 [7799783.0 '7799783']
6022 [7807484.0 '7807484']
2197 [7796010.0 '7796010']
8053 [7806691.0 '7806691']

In [93]:
# import files with num_armadilha and coordinates correspondence

coordArmadilhas = pd.read_excel('./data/CoordXYArmadilhas.xls')
coordOvitrampas = pd.read_excel('./data/CoordXYOvitrampas.xls')
print('Equal files?', coordArmadilhas.equals(coordOvitrampas))

Equal files? True

In [94]:
# remove prefix 90 from num_armadilha
coordArmadilhas['narmad'] = coordArmadilhas['narmad'].astype(str).str[2:].astype(int)

In [95]:
utils.print_rows_with_nan(banco_160724[['VALOR_COORDENADA_X','NUM_ARMADILHA']], 'VALOR_COORDENADA_X')

       VALOR_COORDENADA_X  NUM_ARMADILHA
50                    NaN           2195
57                    NaN           8104
60                    NaN           8206
61                    NaN           8210
86                    NaN           8228
...                   ...            ...
517335                NaN           2130
517349                NaN           8077
517375                NaN           8129
517381                NaN           8129
517413                NaN           8077

[30660 rows x 2 columns]

## Problems

In [96]:
banco_160724[(banco_160724['presenca_ovos'] == 'NÃO CONSEGUI IDENTIFICAR') & (banco_160724['NUM_OVOS'].notna()) & (banco_160724['NUM_OVOS'] != 0)]

,id_palheta,presenca_ovos,NUM_OVOS,IND_QTE_OVOS_DESIDRATADOS,IND_QTE_OVOS_ECLODIDOS,DT_INSTALACAO,DT_COLETA,NUM_SEMANA,ANO_REFERENCIA,NUM_ARMADILHA,...,IND_OFICIAL,QUADRA,VALOR_COORDENADA_X,VALOR_COORDENADA_Y,COD_AREA_ABRANGENCIA,NUM_BAIRRO,NOM_BAIRRO,COD_DISTRITO_SANITARIO,TP_LOGRADOURO,DT_CADASTRO_ARMADILHA_ENDERECO
4,7182,NÃO CONSEGUI IDENTIFICAR,2.0,5.0,0.0,07/03/2012,14/03/2012,10,2012,4145,...,S,02277,616191.0,7806636.0,4340,905.0,PAULO VI,4,RUA,27/05/2024 15:31:56
18,6964,NÃO CONSEGUI IDENTIFICAR,551.0,0.0,0.0,27/02/2012,05/03/2012,9,2012,5085,...,S,05186,603531.0,7799783.0,5250,684.0,GLORIA,5,RUA,06/06/2024 14:10:36
82,6975,NÃO CONSEGUI IDENTIFICAR,25.0,5.0,0.0,27/02/2012,05/03/2012,9,2012,5096,...,S,02308,603098.0,7799302.0,5250,684.0,GLORIA,5,RUA,07/06/2024 13:46:25
99,7063,NÃO CONSEGUI IDENTIFICAR,35.0,1.0,0.0,01/03/2012,08/03/2012,9,2012,5100,...,S,01939,603794.0,7798708.0,5270,1310.0,CONJUNTO JARDIM FILADELFIA,5,RUA,29/09/2023 10:50:58
117,5223,NÃO CONSEGUI IDENTIFICAR,42.0,4.0,0.0,07/02/2012 11:16:16,14/02/2012 13:19:11,6,2012,4127,...,N,09825,6169.69,7805.14,4320,502.0,JARDIM VITORIA,4,RUA,07/02/2024 09:03:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517358,512311,NÃO CONSEGUI IDENTIFICAR,15.0,0.0,0.0,14/05/2024,21/05/2024,20,2024,7160,...,N,06844,602997,7795087.0,7470,388.0,SANTA MARIA,7,RUA,29/11/2023 10:10:21
517391,504372,NÃO CONSEGUI IDENTIFICAR,224.0,0.0,0.0,19/03/2024,26/03/2024,12,2024,4151,...,S,08664,616242,7807060.0,4350,2035.0,MONTES CLAROS,4,RUA,18/03/2024 13:06:01
517393,504888,NÃO CONSEGUI IDENTIFICAR,89.0,0.0,0.0,19/03/2024,26/03/2024,12,2024,4169,...,N,09727,6181.95,78066.77,4390,1495.0,CONJUNTO CAPITAO EDUARDO,4,RUA,16/04/2024 14:55:45
517400,463863,NÃO CONSEGUI IDENTIFICAR,3.0,0.0,0.0,05/04/2023,12/04/2023,14,2023,4177,...,N,09840,6162.16,78039.15,4410,403.0,POUSADA SANTO ANTONIO,4,RUA,18/03/2024 10:27:29
517411,510034,NÃO CONSEGUI IDENTIFICAR,13.0,0.0,0.0,30/04/2024,08/05/2024,18,2024,7001,...,N,05538,605793.72,7791919.52,7330,1324.0,ESTRELA DO ORIENTE,7,RUA,24/04/2024 11:32:23

In [97]:
banco_160724[(banco_160724['presenca_ovos'] == 'NÃO SEI IDENTIFICAR') & (banco_160724['NUM_OVOS'].notna()) & (banco_160724['NUM_OVOS'] != 0)]

,id_palheta,presenca_ovos,NUM_OVOS,IND_QTE_OVOS_DESIDRATADOS,IND_QTE_OVOS_ECLODIDOS,DT_INSTALACAO,DT_COLETA,NUM_SEMANA,ANO_REFERENCIA,NUM_ARMADILHA,...,IND_OFICIAL,QUADRA,VALOR_COORDENADA_X,VALOR_COORDENADA_Y,COD_AREA_ABRANGENCIA,NUM_BAIRRO,NOM_BAIRRO,COD_DISTRITO_SANITARIO,TP_LOGRADOURO,DT_CADASTRO_ARMADILHA_ENDERECO
531,4051,NÃO SEI IDENTIFICAR,130.0,1.0,1.0,19/01/2012,26/01/2012,3,2012,5031,...,S,11222,603931.0,7797071.0,5210,74.0,CALIFORNIA,5,RUA,13/07/2023 11:28:58
1090,4038,NÃO SEI IDENTIFICAR,24.0,1.0,1.0,19/01/2012,26/01/2012,3,2012,5018,...,S,10103,602547.0,7797120.0,5210,630.0,CALIFORNIA,5,RUA,14/08/2013 09:58:15
1187,3970,NÃO SEI IDENTIFICAR,4.0,2.0,0.0,16/01/2012,23/01/2012,3,2012,5155,...,N,02972,6026.24,77983.68,5580,748.0,PINDORAMA,5,RUA,15/06/2021 16:03:54
1329,14232,NÃO SEI IDENTIFICAR,1.0,0.0,0.0,01/06/2012,08/06/2012,22,2012,7126,...,N,03498,607415.0,7791033.0,7320,623.0,BURITIS,7,RUA,17/04/2024 08:49:50
1359,4040,NÃO SEI IDENTIFICAR,53.0,1.0,1.0,19/01/2012,26/01/2012,3,2012,5020,...,S,08979,602135.0,7796204.0,5210,630.0,CALIFORNIA,5,AVE,14/08/2013 09:53:22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503995,512506,NÃO SEI IDENTIFICAR,39.0,0.0,0.0,16/05/2024,23/05/2024,20,2024,4082,...,N,04241,613826,7802306.0,4270,433.0,SAO MARCOS,4,RUA,11/10/2023 10:57:13
508446,498151,NÃO SEI IDENTIFICAR,422.0,0.0,0.0,11/01/2024,19/01/2024,2,2024,7056,...,N,02237,605008,7793901.0,7250,728.0,NOVA CINTRA,7,RUA,02/02/2024 15:51:57
514092,492140,NÃO SEI IDENTIFICAR,17.0,0.0,0.0,16/11/2023,22/11/2023,46,2023,4184,...,N,08066,617022,7803656.0,4410,502.0,JARDIM VITORIA,4,RUA,14/02/2023 14:36:43
514779,498104,NÃO SEI IDENTIFICAR,77.0,0.0,0.0,10/01/2024,17/01/2024,2,2024,7077,...,S,15401,605397,7792276.0,7330,619.0,BETANIA,7,RUA,24/07/2023 13:33:06
515294,498166,NÃO SEI IDENTIFICAR,80.0,0.0,0.0,08/01/2024,15/01/2024,2,2024,7083,...,S,00702,606187.53,7796162.56,7270,1445.0,VILA NOVA GAMELEIRA I,7,RUA,26/03/2024 14:57:23

# DRAFT

In [99]:
banco_160724.isna().sum().sort_values(ascending=False)

COMPLEMENTO                       443923
NUM_LOGRADOURO                     56464
VALOR_COORDENADA_Y                 31264
VALOR_COORDENADA_X                 30660
NUM_OVOS                            5228
NUM_BAIRRO                           804
DT_INSTALACAO                          0
IND_QTE_OVOS_DESIDRATADOS              0
IND_QTE_OVOS_ECLODIDOS                 0
id_palheta                             0
presenca_ovos                          0
ID_ARMADILHA                           0
NUM_ARMADILHA                          0
ANO_REFERENCIA                         0
NUM_SEMANA                             0
DT_COLETA                              0
CEP                                    0
NOM_LOGRADOURO                         0
ID_ENDERECO_ARMADILHA                  0
QUADRA                                 0
IND_OFICIAL                            0
NUM_IMOVEL                             0
COD_AREA_ABRANGENCIA                   0
NOM_BAIRRO                             0
COD_DISTRITO_SANITARIO                 0
TP_LOGRADOURO                          0
DT_CADASTRO_ARMADILHA_ENDERECO         0
dtype: int64