## Import libraries

In [1]:
import pandas as pd 
import numpy as np
import utils
from importlib import reload
reload(utils)

## Import Data

### Main Dataframe

In [3]:
masterdata = pd.read_csv('./data/MasterData.csv', sep=';',decimal='.') #attention to the decimal separator; inferred from the data
original_shape = masterdata.shape

### Other dataframes

In [4]:

"""
malha400 = pd.read_csv('./data/malha400.csv', sep=';',decimal=',')
malha400completa = pd.read_csv('./data/malha400Completa.csv', sep=';',decimal=',')
malha400completa2 = pd.read_csv('./data/malha400Completa2.csv', sep=';',decimal=',')
masterdata = pd.read_csv('./data/masterData.csv', sep=';',decimal='.') #attention to the decimal separator

cols = ['id_palheta', 'presenca_ovos', 'NUM_OVOS', 'IND_QTE_OVOS_DESIDRATADOS', 'IND_QTE_OVOS_ECLODIDOS', 'DT_INSTALACAO', 
        'DT_COLETA', 'NUM_SEMANA', 'ANO_REFERENCIA', 'NUM_ARMADILHA', 'ID_ARMADILHA', 'ID_ENDERECO_ARMADILHA',
        'NUM_LOGRADOURO', 'NUM_SEQU_LOGRADOURO','NOM_LOGRADOURO', 'CEP', 'NUM_IMOVEL', 'COMPLEMENTO', 'IND_OFICIAL',
        'QUADRA', 'VALOR_COORDENADA_X', 'VALOR_COORDENADA_Y','UF', 'COD_AREA_ABRANGENCIA', 'DES_MUNICIPIO', 'NUM_BAIRRO',
        'NOM_BAIRRO', 'COD_DISTRITO_SANITARIO', 'TP_LOGRADOURO', 'DT_DESATIVACAO_ARMADILHA_ENDERECO', 'DT_CADASTRO_ARMADILHA_ENDERECO','Unknown']

banco_160724 = pd.read_csv('./data/banco_160724.csv', sep=';',decimal='.',header=None) #Decimal is '.' which only affects the columns of coordenates.
banco_160724.columns = cols


IdQdnte = pd.read_excel('./data/IdQdnte400.xls')
active_traps = pd.read_excel('./data/OVITRAMPAS_ATIVAS.xlsx')

cols = ['id_palheta', 'presenca_ovos', 'NUM_OVOS', 'IND_QTE_OVOS_DESIDRATADOS', 'IND_QTE_OVOS_ECLODIDOS', 'DT_INSTALACAO', 
        'DT_COLETA', 'NUM_SEMANA', 'ANO_REFERENCIA', 'NUM_ARMADILHA', 'ID_ARMADILHA', 'ID_ENDERECO_ARMADILHA',
        'NUM_LOGRADOURO', 'NUM_SEQU_LOGRADOURO','NOM_LOGRADOURO', 'CEP', 'NUM_IMOVEL', 'COMPLEMENTO', 'IND_OFICIAL',
        'QUADRA', 'VALOR_COORDENADA_X', 'VALOR_COORDENADA_Y','UF', 'COD_AREA_ABRANGENCIA', 'DES_MUNICIPIO', 'NUM_BAIRRO',
        'NOM_BAIRRO', 'COD_DISTRITO_SANITARIO', 'TP_LOGRADOURO', 'DT_DESATIVACAO_ARMADILHA_ENDERECO', 'DT_CADASTRO_ARMADILHA_ENDERECO','Unknown']

banco_160724 = pd.read_csv('./data/banco_160724.csv', sep=';',decimal='.',header=None) #Decimal is '.' which only affects the columns of coordenates.
banco_160724.columns = cols

"""

"\nmalha400 = pd.read_csv('./data/malha400.csv', sep=';',decimal=',')\nmalha400completa = pd.read_csv('./data/malha400Completa.csv', sep=';',decimal=',')\nmalha400completa2 = pd.read_csv('./data/malha400Completa2.csv', sep=';',decimal=',')\nmasterdata = pd.read_csv('./data/masterData.csv', sep=';',decimal='.') #attention to the decimal separator\n\ncols = ['id_palheta', 'presenca_ovos', 'NUM_OVOS', 'IND_QTE_OVOS_DESIDRATADOS', 'IND_QTE_OVOS_ECLODIDOS', 'DT_INSTALACAO', \n        'DT_COLETA', 'NUM_SEMANA', 'ANO_REFERENCIA', 'NUM_ARMADILHA', 'ID_ARMADILHA', 'ID_ENDERECO_ARMADILHA',\n        'NUM_LOGRADOURO', 'NUM_SEQU_LOGRADOURO','NOM_LOGRADOURO', 'CEP', 'NUM_IMOVEL', 'COMPLEMENTO', 'IND_OFICIAL',\n        'QUADRA', 'VALOR_COORDENADA_X', 'VALOR_COORDENADA_Y','UF', 'COD_AREA_ABRANGENCIA', 'DES_MUNICIPIO', 'NUM_BAIRRO',\n        'NOM_BAIRRO', 'COD_DISTRITO_SANITARIO', 'TP_LOGRADOURO', 'DT_DESATIVACAO_ARMADILHA_ENDERECO', 'DT_CADASTRO_ARMADILHA_ENDERECO','Unknown']\n\nbanco_160724 = pd.read_csv('./data/banco_160724.csv', sep=';',decimal='.',header=None) #Decimal is '.' which only affects the columns of coordenates.\nbanco_160724.columns = cols\n\n\nIdQdnte = pd.read_excel('./data/IdQdnte400.xls')\nactive_traps = pd.read_excel('./data/OVITRAMPAS_ATIVAS.xlsx')\n\ncols = ['id_palheta', 'presenca_ovos', 'NUM_OVOS', 'IND_QTE_OVOS_DESIDRATADOS', 'IND_QTE_OVOS_ECLODIDOS', 'DT_INSTALACAO', \n        'DT_COLETA', 'NUM_SEMANA', 'ANO_REFERENCIA', 'NUM_ARMADILHA', 'ID_ARMADILHA', 'ID_ENDERECO_ARMADILHA',\n        'NUM_LOGRADOURO', 'NUM_SEQU_LOGRADOURO','NOM_LOGRADOURO', 'CEP', 'NUM_IMOVEL', 'COMPLEMENTO', 'IND_OFICIAL',\n        'QUADRA', 'VALOR_COORDENADA_X', 'VALOR_COORDENADA_Y','UF', 'COD_AREA_ABRANGENCIA', 'DES_MUNICIPIO', 'NUM_BAIRRO',\n        'NOM_BAIRRO', 'COD_DISTRITO_SANITARIO', 'TP_LOGRADOURO', 'DT_DESATIVACAO_ARMADILHA_ENDERECO', 'DT_CADASTRO_ARMADILHA_ENDERECO','Unknown']\n\nbanco_160724 = pd.read_csv('./data/banco_160724.csv', sep=';',decimal='.',header=None) #Decimal is '.' which only affects the columns of coordenates.\nbanco_160724.columns = cols\n\n"

In [5]:
masterdata.columns

Index(['exercicio', 'nplaca', 'narmad', 'idarmad', 'endarmad', 'cep',
       'dtinstal', 'dtcol', 'semepi', 'cdabrange', 'abrange', 'quadra',
       'cdbairro', 'nombairro', 'cddist', 'novos', 'eclod', 'desid', 'CatRC',
       'qarmadila', 'qarmadild', 'qarmadilrc', 'qarmadilbh', 'dia', 'mes',
       'ano', 'intvinstcol', 'agintincol', 'ovos', 'bovos', 'agnovos',
       'nagnovos', 'ovosdiacol', 'catovos', 'agovosdiacol', 'nagovosdiacol',
       'anoepid', 'nanoepid', 'mesepid', 'season', 'lustro', 'quinzena',
       'quinzepid', 'Calustro', 'distrito', 'npesmes', 'npesano', 'npesanoepi',
       'quadaa', 'quadist', 'quadaadist', 'aadist', 'qaabh', 'qaadist',
       'qaaCatRC', 'qquadbh', 'qquadist', 'qquadaa', 'qquaCatRC', 'peso1',
       'peso2', 'coordx', 'coordy', 'qdnte', 'ninsp', 'scoreG', 'GerCat'],
      dtype='object')

## Exploration

### Number of unique values in each column

In [36]:
unique_values = utils.info_dict_col(masterdata,masterdata.columns,utils.get_col_unique_values)
utils.print_info_col(unique_values,6)

exercicio [13]: [2020 2017 2022 2019 2018 2016]
nplaca [464739]: [90000213 90000162 90000215 90000214 90000185 90000254]
narmad [1885]: [901001 901002 901003 901004 901005 901006]
idarmad [1885]: [901374 901375 901376 901377 901378 901379]
endarmad [1885]: [97222 97559 97541 97149 96964 96965]
cep [1609]: [9030690765 9030692240 9030690080 9030690750 9030690720 9030690800]
dtinstal [2529]: ['03nov2020' '13mar2017' '11jul2022' '14jan2019' '02jul2018' '07nov2016']
dtcol [2595]: ['10nov2020' '20mar2017' '18jul2022' '21jan2019' '09jul2018' '14nov2016']
semepi [50]: [145 111 128 103 127 125]
cdabrange [154]: [901460 901400 901300 901260 901250 901290]
abrange [153]: ['C.S.REGINA' 'C.S.LINDEIA' 'C.S.ITAIPU' 'C.S.TUNEL DE IBIRITE'
 'C.S.TIROL' 'C.S.BARREIRO']
quadra [1617]: [9002489. 9005607. 9002173. 9002551. 9005938. 9008200.]
cdbairro [496]: [900714. 900706. 901052. 901157. 901158. 901155.]
nombairro [356]: ['LINDEIA' 'JATOBA' 'REGINA' 'ITAIPU' 'MARILANDIA' 'TUNEL DE IBIRITE']
cddist [9]: [1 2 3 4 5 6]
novos [966]: [  0.  28.  70. 195.  61. 262.]
eclod [6]: [0. 2. 1. 4. 3. 5.]
desid [6]: [0. 3. 2. 1. 4. 5.]
CatRC [5]: [ 2.  3.  1. nan  0.]
qarmadila [30]: [ 7 11 13 12 22 17]
qarmadild [9]: [245 212 187 206 275 141]
qarmadilrc [5]: [953 139 708  23  64]
dia [31]: [ 3 13 11 14  2  7]
mes [12]: [11  3  7  1  6  5]
ano [13]: [2020 2017 2022 2019 2018 2016]
intvinstcol [62]: [ 7  9  8  6  5 28]
agintincol [4]: ['06 - 08' '09 - 99' '01 - 05' nan]
ovos [3]: ['Neg' 'Pos' nan]
bovos [3]: [ 0.  1. nan]
agnovos [6]: ['0000 - 0000' '0016 - 0050' '0051 - 0100' '0101 - 9999' '0001 - 0015' nan]
nagnovos [6]: [ 0.  2.  3.  4.  1. nan]
ovosdiacol [2222]: [ 0.        4.       10.       27.85714   8.714286 37.42857 ]
catovos [3]: [ 0.  1. nan]
agovosdiacol [6]: ['000.00 - 000.00' '002.00 - 006.99' '007.00 - 017.99' '018.00 - 999.99'
 nan '000.01 - 001.99']
nagovosdiacol [6]: [ 0.  2.  3.  4. nan  1.]
anoepid [12]: ['2020_21' '2016_17' '2022_23' '2018_19' '2021_22' '2017_18']
nanoepid [12]: [22021 21617 22223 21819 22122 21718]
mesepid [12]: [ 6 10  2  8  1 12]
season [2]: [2 1]
lustro [72]: [132 158 109 146 107 105]
quinzena [24]: [121 105 113 101 112 110]
quinzepid [24]: [111 119 103 115 102 124]
Calustro [71]: [162 115 139 103 137 163]
distrito [9]: ['BARREIRO' 'CENTRO-SUL' 'LESTE' 'NORDESTE' 'NOROESTE' 'NORTE']
npesmes [3]: [3 2 1]
npesano [25]: [22 24 23  9  7  8]
npesanoepi [24]: [24 21 23 22  1 17]
quadaa [34]: [9.0150e+12 9.0140e+12 9.0130e+12 9.0120e+12 9.0134e+05 9.0220e+12]
quadist [1760]: [19002489 19005607 19002173 19002551 19005938 19008200]
quadaadist [15]: [1.90100e+13 1.90134e+06 2.90200e+13 3.90300e+13 4.90400e+13 5.90500e+13]
aadist [154]: [1901460 1901400 1901300 1901260 1901250 1901290]
qaadist [8]: [20 12 14 21 16 18]
qaaCatRC [5]: [84 19 47  3  2]
qquadbh [2]: [1616.   nan]
qquadist [9]: [224 201 171 191 265 139]
qquadaa [28]: [ 7 11 12 22 19 15]
qquaCatRC [5]: [871 127 647  23  60]
peso1 [698]: [1176 1029 1127 1512 1078   49]
peso2 [222]: [168 147 161 154   7 119]
coordx [1817]: [598985.1 598808.  598881.8 598157.  598520.  599020. ]
coordy [1771]: [7789798. 7790153. 7790765. 7791000. 7790795. 7790677.]
qdnte [1402]: [303. 333. 365. 395. 364. 397.]
scoreG [1546]: [301.2  97.  173.9 101.8 126.3  32.8]
GerCat [5]: ['A2' 'M ' 'B ' 'A1' 'ND']

In [7]:
weird_unique_values = {col:values for col,values in unique_values.items() if values.shape[0] < 10}
utils.print_info_col(weird_unique_values,20)

cddist [9]: [1 2 3 4 5 6 7 8 9]
eclod [6]: [nan  2.  1.  4.  3.  5.]
desid [6]: [nan  3.  2.  1.  4.  5.]
CatRC [5]: [ 2.  3.  1. nan  0.]
qarmadild [9]: [245 212 187 206 275 141 178 257 184]
qarmadilrc [5]: [953 139 708  23  64]
qarmadilbh [1]: [1886]
agintincol [4]: ['06 - 08' '09 - 99' '01 - 05' nan]
ovos [3]: ['Neg' 'Pos' nan]
bovos [3]: [ 0.  1. nan]
agnovos [6]: ['0000 - 0000' '0016 - 0050' '0051 - 0100' '0101 - 9999' '0001 - 0015' nan]
nagnovos [6]: [ 0.  2.  3.  4.  1. nan]
catovos [3]: [ 0.  1. nan]
agovosdiacol [6]: ['000.00 - 000.00' '002.00 - 006.99' '007.00 - 017.99' '018.00 - 999.99'
 nan '000.01 - 001.99']
nagovosdiacol [6]: [ 0.  2.  3.  4. nan  1.]
season [2]: [2 1]
distrito [9]: ['BARREIRO' 'CENTRO-SUL' 'LESTE' 'NORDESTE' 'NOROESTE' 'NORTE' 'OESTE'
 'PAMPULHA' 'VENDA NOVA']
npesmes [3]: [3 2 1]
qaabh [1]: [153]
qaadist [8]: [20 12 14 21 16 18 15 17]
qaaCatRC [5]: [84 19 47  3  2]
qquadbh [2]: [1616.   nan]
qquadist [9]: [224 201 171 191 265 139 168 221 179]
qquaCatRC [5]: [871 127 647  23  60]
ninsp [1]: [1]
GerCat [5]: ['A2' 'M ' 'B ' 'A1' 'ND']

### Sorting data columns

In [37]:
masterdata['dtinstal'].sort_values()

326815    01apr2013
90520     01apr2013
325985    01apr2013
57186     01apr2013
56921     01apr2013
            ...
133760    31oct2022
86983     31oct2022
133696    31oct2022
278152    31oct2022
142535    31oct2022
Name: dtinstal, Length: 464739, dtype: object

### Checking types

In [9]:
# dict containing the types of each column
col_types = utils.info_dict_col(masterdata, masterdata.columns, utils.get_col_types)
utils.print_info_col(col_types,20)

exercicio [1]: [<class 'int'>]
nplaca [1]: [<class 'int'>]
narmad [1]: [<class 'int'>]
idarmad [1]: [<class 'int'>]
endarmad [1]: [<class 'int'>]
cep [1]: [<class 'int'>]
dtinstal [1]: [<class 'str'>]
dtcol [1]: [<class 'str'>]
semepi [1]: [<class 'int'>]
cdabrange [1]: [<class 'int'>]
abrange [2]: [<class 'str'> <class 'float'>]
quadra [1]: [<class 'float'>]
cdbairro [1]: [<class 'float'>]
nombairro [1]: [<class 'str'>]
cddist [1]: [<class 'int'>]
novos [1]: [<class 'float'>]
eclod [1]: [<class 'float'>]
desid [1]: [<class 'float'>]
CatRC [1]: [<class 'float'>]
qarmadila [1]: [<class 'int'>]
qarmadild [1]: [<class 'int'>]
qarmadilrc [1]: [<class 'int'>]
qarmadilbh [1]: [<class 'int'>]
dia [1]: [<class 'int'>]
mes [1]: [<class 'int'>]
ano [1]: [<class 'int'>]
intvinstcol [1]: [<class 'int'>]
agintincol [2]: [<class 'str'> <class 'float'>]
ovos [2]: [<class 'str'> <class 'float'>]
bovos [1]: [<class 'float'>]
agnovos [2]: [<class 'str'> <class 'float'>]
nagnovos [1]: [<class 'float'>]
ovosdiacol [1]: [<class 'float'>]
catovos [1]: [<class 'float'>]
agovosdiacol [2]: [<class 'str'> <class 'float'>]
nagovosdiacol [1]: [<class 'float'>]
anoepid [1]: [<class 'str'>]
nanoepid [1]: [<class 'int'>]
mesepid [1]: [<class 'int'>]
season [1]: [<class 'int'>]
lustro [1]: [<class 'int'>]
quinzena [1]: [<class 'int'>]
quinzepid [1]: [<class 'int'>]
Calustro [1]: [<class 'int'>]
distrito [1]: [<class 'str'>]
npesmes [1]: [<class 'int'>]
npesano [1]: [<class 'int'>]
npesanoepi [1]: [<class 'int'>]
quadaa [1]: [<class 'float'>]
quadist [1]: [<class 'int'>]
quadaadist [1]: [<class 'float'>]
aadist [1]: [<class 'int'>]
qaabh [1]: [<class 'int'>]
qaadist [1]: [<class 'int'>]
qaaCatRC [1]: [<class 'int'>]
qquadbh [1]: [<class 'float'>]
qquadist [1]: [<class 'int'>]
qquadaa [1]: [<class 'int'>]
qquaCatRC [1]: [<class 'int'>]
peso1 [1]: [<class 'int'>]
peso2 [1]: [<class 'int'>]
coordx [1]: [<class 'float'>]
coordy [1]: [<class 'float'>]
qdnte [1]: [<class 'float'>]
ninsp [1]: [<class 'int'>]
scoreG [1]: [<class 'float'>]
GerCat [1]: [<class 'str'>]

In [10]:
# dict containing the columns with more than one type
weird_type_cols = {key:value for key,value in col_types.items() if value.shape[0] > 1}
print('Columns with more than one type:')
utils.print_info_col(weird_type_cols,20)


print('\n Values of columns with more than one type:')
for col, value in weird_type_cols.items():
    print(f'{col} [{value.shape[0]}]: {masterdata[col].unique()[:20]}')

Columns with more than one type:
abrange [2]: [<class 'str'> <class 'float'>]
agintincol [2]: [<class 'str'> <class 'float'>]
ovos [2]: [<class 'str'> <class 'float'>]
agnovos [2]: [<class 'str'> <class 'float'>]
agovosdiacol [2]: [<class 'str'> <class 'float'>]

 Values of columns with more than one type:
abrange [2]: ['C.S.REGINA' 'C.S.LINDEIA' 'C.S.ITAIPU' 'C.S.TUNEL DE IBIRITE'
 'C.S.TIROL' 'C.S.BARREIRO' 'C.S.BAIRRO DAS INDUSTRIAS' 'C.S.BONSUCESSO'
 'C.S.VILA CEMIG' 'C.S.MILIONARIOS' 'C.S.BARREIRO DE CIMA' 'C.S.MIRAMAR'
 'C.S.DIAMANTE / TEIXEIRA DIAS' 'C.S.VILA PINHO' 'C.S.SANTA CECILIA'
 'C.S.VALE DO JATOBA' 'C.S.INDEPENDENCIA' 'C.S.MANGUEIRAS' 'C.S.URUCUIA'
 'C.S.PILAR/OLHOS D AGUA']
agintincol [2]: ['06 - 08' '09 - 99' '01 - 05' nan]
ovos [2]: ['Neg' 'Pos' nan]
agnovos [2]: ['0000 - 0000' '0016 - 0050' '0051 - 0100' '0101 - 9999' '0001 - 0015' nan]
agovosdiacol [2]: ['000.00 - 000.00' '002.00 - 006.99' '007.00 - 017.99' '018.00 - 999.99'
 nan '000.01 - 001.99']

## Processing

### Convert type of columns to be unique

In [11]:
#TODO: move this after NANs treatment
"""
banco_160724['VALOR_COORDENADA_X'] = banco_160724['VALOR_COORDENADA_X'].apply(str)
banco_160724['VALOR_COORDENADA_Y'] = banco_160724['VALOR_COORDENADA_Y'].apply(str)
"""

"\nbanco_160724['VALOR_COORDENADA_X'] = banco_160724['VALOR_COORDENADA_X'].apply(str)\nbanco_160724['VALOR_COORDENADA_Y'] = banco_160724['VALOR_COORDENADA_Y'].apply(str)\n"

### Remove useless columns

In [12]:
remove_cols = []
for col,value in unique_values.items():
     sum_dropped = 0 
     if value.shape[0] == 1:
        masterdata.drop(col, axis=1, inplace=True)
        remove_cols.append(col)
        sum_dropped += 1
for col in remove_cols:
    del unique_values[col]
    del col_types[col]

print(f'{original_shape[1] - masterdata.shape[1]} columns with only one value were dropped.')
# IND_OFICIAL char(1),[Indicativo se o endereço é oficial ou informado.]

3 columns with only one value were dropped.

### NaN Treatment

In [13]:
masterdata.isna().sum().sort_values(ascending=False)[:30]

eclod            422599
desid            397775
nagovosdiacol      9300
agovosdiacol       9300
abrange            6101
CatRC              6101
ovosdiacol         4864
novos              4864
ovos               4864
nagnovos           4864
agnovos            4864
bovos              4864
catovos            4864
cdbairro           1012
qquadbh             493
quadra              493
scoreG               63
qdnte                44
coordx               44
coordy               44
agintincol           13
cep                   0
dtinstal              0
dtcol                 0
cddist                0
nombairro             0
cdabrange             0
semepi                0
endarmad              0
exercicio             0
dtype: int64

NaN means value 0

In [14]:
# IND_QTE_OVOS_ECLODIDOS, IND_QTE_OVOS_DESIDRATADOS
print('Possible values of eclod and desid:\n',
      'eclod', masterdata['eclod'].unique(),'\n',
      'desid:', masterdata['desid'].unique())

#Substituting NaN values with 0
masterdata[['eclod','desid']] = masterdata[['eclod','desid']].fillna(0)

Possible values of eclod and desid:
 eclod [nan  2.  1.  4.  3.  5.]
 desid: [nan  3.  2.  1.  4.  5.]

### NaN means lack of crutial information

### NaNs mean lack of irrelevant data

List of variables

['COMPLEMENTO', 'NUM_BAIRRO']

Inference

In [25]:
masterdata.iloc[0,:50]

exercicio                    2020
nplaca                   90000213
narmad                     901001
idarmad                    901374
endarmad                    97222
cep                    9030690765
dtinstal                03nov2020
dtcol                   10nov2020
semepi                        145
cdabrange                  901460
abrange                C.S.REGINA
quadra                  9002489.0
cdbairro                 900714.0
nombairro                 LINDEIA
cddist                          1
novos                         0.0
eclod                         0.0
desid                         0.0
CatRC                         2.0
qarmadila                       7
qarmadild                     245
qarmadilrc                    953
dia                             3
mes                            11
ano                          2020
intvinstcol                     7
agintincol                06 - 08
ovos                          Neg
bovos                         0.0
agnovos               0000 - 0000
nagnovos                      0.0
ovosdiacol                    0.0
catovos                       0.0
agovosdiacol      000.00 - 000.00
nagovosdiacol                 0.0
anoepid                   2020_21
nanoepid                    22021
mesepid                         6
season                          2
lustro                        132
quinzena                      121
quinzepid                     111
Calustro                      162
distrito                 BARREIRO
npesmes                         3
npesano                        22
npesanoepi                     24
quadaa            9015000000000.0
quadist                  19002489
quadaadist       19010000000000.0
Name: 0, dtype: object

In [26]:
masterdata.iloc[0,51:]

qaadist             20
qaaCatRC            84
qquadbh         1616.0
qquadist           224
qquadaa              7
qquaCatRC          871
peso1             1176
peso2              168
coordx        598985.1
coordy       7789798.0
qdnte            303.0
scoreG           301.2
GerCat              A2
Name: 0, dtype: object

In [30]:
# import files with num_armadilha and coordinates correspondence

coordArmadilhas = pd.read_excel('./data/complementar/CoordXYArmadilhas.xls')
coordOvitrampas = pd.read_excel('./data/complementar/CoordXYOvitrampas.xls')
print('Equal files?', coordArmadilhas.equals(coordOvitrampas))

Equal files? True

In [31]:
# remove prefix 90 from num_armadilha
coordArmadilhas['narmad'] = coordArmadilhas['narmad'].astype(str).str[2:].astype(int)

In [34]:
utils.print_rows_with_nan(masterdata[['coordx','narmad']], 'coordx')

        coordx  narmad
305175     NaN  906142
305176     NaN  906142
305177     NaN  906142
305178     NaN  906142
305179     NaN  906142
305180     NaN  906142
305181     NaN  906142
305182     NaN  906142
305183     NaN  906142
305184     NaN  906142
305185     NaN  906142
305186     NaN  906142
305187     NaN  906142
305188     NaN  906142
305189     NaN  906143
305190     NaN  906143
305191     NaN  906143
305192     NaN  906143
305193     NaN  906143
305194     NaN  906143
305195     NaN  906143
305196     NaN  906143
305197     NaN  906143
305198     NaN  906143
305199     NaN  906143
305200     NaN  906143
305201     NaN  906143
305202     NaN  906143
305203     NaN  906143
305204     NaN  906144
305205     NaN  906144
305206     NaN  906144
305207     NaN  906144
305208     NaN  906144
305209     NaN  906144
305210     NaN  906144
305211     NaN  906144
305212     NaN  906144
305213     NaN  906144
305214     NaN  906144
305215     NaN  906144
305216     NaN  906144
305217     NaN  906144
305218     NaN  906144

## Problems

# DRAFT

In [38]:
masterdata.isna().sum().sort_values(ascending=False)

nagovosdiacol    9300
agovosdiacol     9300
abrange          6101
CatRC            6101
ovosdiacol       4864
                 ...
qaadist             0
peso2               0
peso1               0
qquaCatRC           0
GerCat              0
Length: 64, dtype: int64