Import libraries

In [2]:
import pandas as pd

Import Data

In [11]:
df_banco = pd.read_csv('./data/banco_160724.csv', sep=';',decimal=',')
malha400 = pd.read_csv('./data/malha400.csv', sep=';',decimal=',')
malha400completa = pd.read_csv('./data/malha400Completa.csv', sep=';',decimal=',')
malha400completa2 = pd.read_csv('./data/malha400Completa2.csv', sep=';',decimal=',')
masterdata = pd.read_csv('./data/masterData.csv', sep=';',decimal='.') #attention to the decimal separator

In [69]:
df_banco.columns

Index(['744', 'N√ÉO', '0', 'Unnamed: 3', 'Unnamed: 4', '18/10/2011 10:21:53',
       '24/10/2011 15:16:55', '42', '2011', '2030', '363', '8750', '114440',
       '0.1', 'AJAX CORREA RABELLO', '30210040', '400', 'Unnamed: 17', 'S',
       '03520', '613454', '7792658', 'MG', '2210', 'BELO HORIZONTE', '718',
       'MANGABEIRAS', '2', 'RUA', 'Unnamed: 29', '22/11/2023 09:24:58',
       'Unnamed: 31'],
      dtype='object')

In [ ]:
cols = ['id_palheta', 'presenca_ovos', 'NUM_OVOS', 'IND_QTE_OVOS_DESIDRATADOS', 'IND_QTE_OVOS_ECLODIDOS', 'DT_INSTALACAO', 'DT_COLETA', 'NUM_SEMANA', 'ANO_REFERENCIA', 'NUM_ARMADILHA', 'ID_ARMADILHA', 'ID_ENDERECO_ARMADILHA', 'NUM_LOGRADOURO', 'NUM_SEQU_LOGRADOURO', 'NOM_LOGRADOURO', 'CEP', 'NUM_IMOVEL', 'COMPLEMENTO', 'IND_OFICIAL', 'QUADRA', 'VALOR_COORDENADA_X', 'VALOR_COORDENADA_Y', 'UF', 'COD_AREA_ABRANGENCIA', 'DES_MUNICIPIO', 'NUM_BAIRRO', 'NOM_BAIRRO', 'COD_DISTRITO_SANITARIO', 'TP_LOGRADOURO', 'DT_DESATIVACAO_ARMADILHA_ENDERECO', 'DT_CADASTRO_ARMADILHA_ENDERECO']

In [66]:
masterdata.columns

Index(['exercicio', 'nplaca', 'narmad', 'idarmad', 'endarmad', 'cep',
       'dtinstal', 'dtcol', 'semepi', 'cdabrange', 'abrange', 'quadra',
       'cdbairro', 'nombairro', 'cddist', 'novos', 'eclod', 'desid', 'CatRC',
       'qarmadila', 'qarmadild', 'qarmadilrc', 'qarmadilbh', 'dia', 'mes',
       'ano', 'intvinstcol', 'agintincol', 'ovos', 'bovos', 'agnovos',
       'nagnovos', 'ovosdiacol', 'catovos', 'agovosdiacol', 'nagovosdiacol',
       'anoepid', 'nanoepid', 'mesepid', 'season', 'lustro', 'quinzena',
       'quinzepid', 'Calustro', 'distrito', 'npesmes', 'npesano', 'npesanoepi',
       'quadaa', 'quadist', 'quadaadist', 'aadist', 'qaabh', 'qaadist',
       'qaaCatRC', 'qquadbh', 'qquadist', 'qquadaa', 'qquaCatRC', 'peso1',
       'peso2', 'coordx', 'coordy', 'qdnte', 'ninsp', 'scoreG', 'GerCat'],
      dtype='object')

NaN Treatment

In [ ]:
masterdata.isna().sum().sort_values(ascending=False)

In [58]:
# eclod and desid 
print('Possible values of eclod and desid:\n',
      'eclod:', masterdata['eclod'].unique(),'\n',
      'desid:', masterdata['desid'].unique())
masterdata[['eclod','desid']] = masterdata[['eclod','desid']].fillna(0)

Possible values of eclod and desid:
 eclod: [nan  2.  1.  4.  3.  5.]
 desid: [nan  3.  2.  1.  4.  5.]

agovosdiacol     9300
nagovosdiacol    9300
CatRC            6101
abrange          6101
agnovos          4864
                 ...
qaaCatRC            0
peso1               0
peso2               0
ninsp               0
GerCat              0
Length: 67, dtype: int64