In [ ]:
import pandas as pd
import numpy as np

ovitraps_data = pd.read_csv('../data/processed/ovitraps_data.csv',index_col=0)
ovitraps_data_with_coordinates = pd.read_csv('../data/processed/ovitraps_data_with_coordinates.csv')
dengue_data = pd.read_csv('../data/processed/dengue_data.csv',index_col=0) 
dengue_data_with_coordinates = pd.read_csv('../data/processed/dengue_data_with_coordinates.csv')

In [68]:
ovitrap_info = ovitraps_data.groupby('narmad').first()[['closest_health_center','abrange']]
ovitrap_info = ovitrap_info.dropna()

cases_info = dengue_data[['closest_health_center', 'abrange']]
cases_info = cases_info.dropna()

In [69]:
print('Same health center ovitraps:', (ovitrap_info['closest_health_center'] == ovitrap_info['abrange']).mean())
print('Same health center dengue cases:', (cases_info['closest_health_center'] == cases_info['abrange']).mean())

Same health center ovitraps: 0.5315712187958884
Same health center dengue cases: 0.3197501817152165

In [70]:
cases_info

                                    closest_health_center            abrange
0                                              C.S.REGINA         C.S.REGINA
1                                       C.S.SANTA CECILIA    NAO DETERMINADA
2                                       C.S.SANTA CECILIA  C.S.SANTA CECILIA
4                       C.S.BARREIRO - CARLOS RENATO DIAS    NAO DETERMINADA
5                                       C.S.SANTA CECILIA  C.S.SANTA CECILIA
...                                                   ...                ...
992063                                   C.S.SANTA MONICA    NAO DETERMINADA
992103                                  C.S.ZILAH SPOSITO    NAO DETERMINADA
992148                                   C.S.CAMPO ALEGRE    NAO DETERMINADA
992177  C.S.CONJUNTO RIBEIRO DE ABREU - EFIGENIA MURTA...    NAO DETERMINADA
992229                                       C.S.FLORAMAR    NAO DETERMINADA

[685138 rows x 2 columns]