In [40]:
import pandas as pd
import numpy as np
import os 
from tqdm import tqdm   
info_df = pd.read_csv('../data/final_data.csv')

info_df['semepi'] = info_df['semepi'] - 100
info_df['temp_expo'] = (pd.to_datetime(info_df['dtcol']) - pd.to_datetime(info_df['dtinstal']))/pd.Timedelta(days=1)
info_df['semepi2'] = info_df['semepi']**2 
info_df['sin_semepi'] = np.sqrt(np.sin(np.pi*(info_df['semepi']-30)/max(info_df['semepi']))**2)
info_df['sin_mesepi'] = np.sqrt(np.sin(np.pi*(info_df['mesepid']-2)/max(info_df['mesepid']))**2)


features = ['mesepid', 'semepi', 'zero_perc','anoepid', 'temp_expo', 'semepi2', 'sin_semepi', 'sin_mesepi']
root = "../results/final_dfs/" # root of the final dfs

In [48]:
for file in tqdm(os.listdir(root)):
    new_file = 'new/' + file   # saved in a new folder to avoid overwriting and possible data loss
    
    if not file.endswith('.parquet'):
        continue
    
    if os.path.isfile(os.path.join(root, new_file)):    
        continue
    
    df = pd.read_parquet(os.path.join(root, file),engine="pyarrow", use_threads=True)
    for i in features:
        if i not in df.columns:
                df = df.merge(info_df[['nplaca',i]], on='nplaca', how='left')
                unnamed_cols = df.columns [['Unnamed' in col for col in df.columns] ] #TODO create function to load df
                df.to_parquet(os.path.join(root, new_file), compression='snappy', engine="pyarrow",index=False)

100%|██████████| 427/427 [58:13<00:00,  8.18s/it]

In [49]:
# Confirming that the new dfs are correct

file = 'final_df_lag1_ntraps1.parquet'
try:
    df = pd.read_parquet(os.path.join(root, file),engine="pyarrow", use_threads=True)
    display(df.head())
except:
    print('Error loading the file')
    pass

try:
    df_new = pd.read_parquet(os.path.join(root, 'new/' + file),engine="pyarrow", use_threads=True)
    display(df_new.head())
except:
    print('Error loading new file')
    pass

try:
    df_old = pd.read_parquet(os.path.join(root, 'old/' + file),engine="pyarrow", use_threads=True)
    display(df_old.head())
except:
    print('Error loading old file')
    pass

,nplaca,novos,trap0_lag1,latitude0,longitude0,days0_lag1,semepi,zero_perc,anoepid
0,90436704,0.0,0.0,0.585206,-0.056906,14.0,39,1.0,2011_12
1,90399456,24.0,0.0,0.157868,-0.038828,14.0,39,1.0,2011_12
2,90424797,0.0,49.0,0.932637,-0.057007,14.0,39,0.0,2011_12
3,90399370,0.0,0.0,0.266727,-0.038997,14.0,39,1.0,2011_12
4,90425168,0.0,0.0,0.813037,-0.039827,14.0,39,1.0,2011_12

,nplaca,novos,trap0_lag1,latitude0,longitude0,days0_lag1,semepi,zero_perc,anoepid,mesepid,temp_expo,semepi2,sin_semepi,sin_mesepi
0,90436704,0.0,0.0,0.585206,-0.056906,14.0,39,1.0,2011_12,4.0,7.0,3721,0.535827,0.5
1,90399456,24.0,0.0,0.157868,-0.038828,14.0,39,1.0,2011_12,4.0,7.0,3721,0.535827,0.5
2,90424797,0.0,49.0,0.932637,-0.057007,14.0,39,0.0,2011_12,4.0,7.0,3721,0.535827,0.5
3,90399370,0.0,0.0,0.266727,-0.038997,14.0,39,1.0,2011_12,4.0,7.0,3721,0.535827,0.5
4,90425168,0.0,0.0,0.813037,-0.039827,14.0,39,1.0,2011_12,4.0,7.0,3721,0.535827,0.5

,nplaca,novos,trap0_lag1,latitude0,longitude0,days0_lag1,semepi,zero_perc,anoepid
0,90436704,0.0,0.0,0.585206,-0.056906,14.0,39,1.0,2011_12
1,90399456,24.0,0.0,0.157868,-0.038828,14.0,39,1.0,2011_12
2,90424797,0.0,49.0,0.932637,-0.057007,14.0,39,0.0,2011_12
3,90399370,0.0,0.0,0.266727,-0.038997,14.0,39,1.0,2011_12
4,90425168,0.0,0.0,0.813037,-0.039827,14.0,39,1.0,2011_12